In [ ]:
#Installed keplergl package on a new environment in anaconda

In [40]:
from keplergl import KeplerGl
map_1 = KeplerGl(height=1000)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [41]:
import numpy as np
import pandas as pd

In [42]:
df=pd.read_csv('noise.csv')

In [43]:
#deleting the Index column 
del df['Index']

In [44]:
df['Bezirk']=df['Bezirk'].astype(str)

In [45]:
df['DB_TAG']=df['DB_TAG'].astype(float)

In [46]:
df['DB_NACHT']=df['DB_NACHT'].astype(float)

In [47]:
df.replace(' ', np.nan,inplace=True)

In [48]:
df['Latitude']=df['Latitude'].astype(float)

In [49]:
df['Longitude']=df['Longitude'].astype(float)

In [52]:
df.head(3)

,Bezirk,DB_TAG,DB_NACHT,Latitude,Longitude
0,"Aachener Straße 1, Düsseldorf, Germany",68.0,62.0,51.207592,6.776500
1,"Aachener Straße 10, Düsseldorf, Germany",68.0,61.0,51.207128,6.776436
2,"Aachener Straße 101, Düsseldorf, Germany",70.0,63.0,51.202533,6.771146

In [54]:
df['avg_db']=(df['DB_TAG']+df['DB_NACHT'])/2

In [55]:
map_1.add_data(data=df, name='dus_noise')

C:\Users\joe16\anaconda3\envs\kep\lib\site-packages\jupyter_client\session.py:718: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [56]:
map_1

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['dus_noise'], 'id': '4fc3lfy…

In [57]:
map_1.save_to_html(file_name='dus_map2.html')

Map saved to dus_map2.html!