In [167]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [168]:
#reading the csv file 
df = pd.read_csv("Strassenverkehrslärm_Gebbäudedatei_2018.csv")

Link to the data: https://opendata.duesseldorf.de/dataset/1225615a-3b8a-4103-bb23-a3f112acec35/resource/c7354dbe-776c-4f6e-84b3-ed6da3b0b2b4

In [169]:
df.head()

  BEZ;ID;DB_TAG;DB_NACHT;WOHNGEBAEUDE;STRASCHL-HSNR
0           Aachener Straße 1;33669;68;62;ja;1002-1
1         Aachener Straße 10;31309;68;61;ja;1002-10
2       Aachener Straße 101;21993;70;63;ja;1002-101
3       Aachener Straße 103;21986;70;62;ja;1002-103
4       Aachener Straße 105;21985;69;62;ja;1002-105

In [170]:
#splitting the column into different columns
df[['Address', 'Building_ID', 'DB_TAG', 'DB_NACHT','Wohngebaude','HSNR','a','b','c']] = df['BEZ;ID;DB_TAG;DB_NACHT;WOHNGEBAEUDE;STRASCHL-HSNR'].str.split(';', expand=True)

In [171]:
df.head()

,BEZ;ID;DB_TAG;DB_NACHT;WOHNGEBAEUDE;STRASCHL-HSNR,Address,Building_ID,DB_TAG,DB_NACHT,Wohngebaude,HSNR,a,b,c
0,Aachener Straße 1;33669;68;62;ja;1002-1,Aachener Straße 1,33669,68,62,ja,1002-1,None,None,None
1,Aachener Straße 10;31309;68;61;ja;1002-10,Aachener Straße 10,31309,68,61,ja,1002-10,None,None,None
2,Aachener Straße 101;21993;70;63;ja;1002-101,Aachener Straße 101,21993,70,63,ja,1002-101,None,None,None
3,Aachener Straße 103;21986;70;62;ja;1002-103,Aachener Straße 103,21986,70,62,ja,1002-103,None,None,None
4,Aachener Straße 105;21985;69;62;ja;1002-105,Aachener Straße 105,21985,69,62,ja,1002-105,None,None,None

In [172]:
#deleting irrevelant columns
del df['BEZ;ID;DB_TAG;DB_NACHT;WOHNGEBAEUDE;STRASCHL-HSNR']
del df['Building_ID']
del df['Wohngebaude']
del df['HSNR']
del df['a']
del df['b']
del df['c']

In [173]:
df.shape,df.head()

((78832, 3),
                Address DB_TAG DB_NACHT
 0    Aachener Straße 1     68       62
 1   Aachener Straße 10     68       61
 2  Aachener Straße 101     70       63
 3  Aachener Straße 103     70       62
 4  Aachener Straße 105     69       62)

In [174]:
#adding 'Düsseldorf, Germany' to existing address because there are streets in other cities with same names
#this is done because we wanted to get the geometric locations of each address
def Address_modification(x):
   return x+", Düsseldorf, Germany"
df["Address"] = df["Address"].apply(Address_modification)

In [175]:
df.head()

                                    Address DB_TAG DB_NACHT
0    Aachener Straße 1, Düsseldorf, Germany     68       62
1   Aachener Straße 10, Düsseldorf, Germany     68       61
2  Aachener Straße 101, Düsseldorf, Germany     70       63
3  Aachener Straße 103, Düsseldorf, Germany     70       62
4  Aachener Straße 105, Düsseldorf, Germany     69       62

In [176]:
#checking the datatypes of columns
df.dtypes

Address     object
DB_TAG      object
DB_NACHT    object
dtype: object

In [177]:
#converting the datatypes for further operations
df['Address']=df['Address'].astype(str)
df['DB_TAG']=df['DB_TAG'].astype(float)
df['DB_NACHT']=df['DB_NACHT'].astype(float)

ValueError: could not convert string to float: ''

In [178]:
#dropping error columns and replacing empty string in numerical columns 
df.drop( df[df['DB_NACHT']=='1000 Wohng'].index, inplace=True)
df.replace('', np.nan,inplace=True)

In [179]:
df['Address']=df['Address'].astype(str)
df['DB_TAG']=df['DB_TAG'].astype(float)
df['DB_NACHT']=df['DB_NACHT'].astype(float)

In [180]:
#checking for null values
df.isnull().sum()

Address     0
DB_TAG      0
DB_NACHT    1
dtype: int64

In [181]:
#dropping rows with null values
df.dropna(inplace=True)

In [183]:
df.shape

(78830, 3)

In [184]:
df.head()

                                    Address  DB_TAG  DB_NACHT
0    Aachener Straße 1, Düsseldorf, Germany    68.0      62.0
1   Aachener Straße 10, Düsseldorf, Germany    68.0      61.0
2  Aachener Straße 101, Düsseldorf, Germany    70.0      63.0
3  Aachener Straße 103, Düsseldorf, Germany    70.0      62.0
4  Aachener Straße 105, Düsseldorf, Germany    69.0      62.0

In [185]:
df.to_csv('noise_dus.csv',index=False)